<!DOCTYPE html>
<html>
<head>
  <title>ShareFb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<div id="fb-root"></div>
<%= render partial: 'layouts/fb_js'%>
</body>
</html>
